<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--필수 _ css와 연결-->
    <link rel="stylesheet" href = "css/home/login.css">

    <script src = "/js/home/login.js" defer></script>
    <title>Document</title>
</head>
<body>
    <body class="align">

        <div class="login-page">
            <div class="form">
              <form class="register-form">
                <input id = "id" type="text" placeholder="이름"/>
                <input id = "psword" type="password" placeholder="비밀번호"/>
                <input id = "confirm-psword" type="password" placeholder="비밀번호 재확인"/>
                <input id = "name" type="password" placeholder="이름"/>
                <input id = "email" type="text" placeholder="이메일"/>
                <input id = "phoneNum" type="text" placeholder="휴대전화"/>
                <button>회원가입</button>
                <!--api-->
                <p class="message">Already registered? <a href="/login">login</a></p>
              </form>
            </div>
          </div>
      
      </body>
</body>
</html>